# Minified JavaScript and CSS
(\.|-)min\.(js|css)$ linguist-vendored

# jQuery
(^|/)jquery([^.]*)\.js$ linguist-vendored
(^|/)jquery\-\d\.\d+(\.\d+)?\.js$ linguist-vendored

# Bootstrap css and js
(^|/)bootstrap([^/.]*)\.(js|css|less|scss|styl)$ linguist-vendored
(^|/)custom\.bootstrap([^\s]*)(js|css|less|scss|styl)$ linguist-vendored

# popper.js
(^|/)popper([^.]*)\.js$ linguist-vendored