# Minified JavaScript and CSS
(\.|-)min\.(js|css)$ text

# jQuery
(^|/)jquery([^.]*)\.js$ linguist-vendored=false
(^|/)jquery\-\d\.\d+(\.\d+)?\.js$ linguist-vendored=false

# Bootstrap css and js
(^|/)bootstrap([^/.]*)\.(js|css|less|scss|styl)$ linguist-vendored=false
(^|/)custom\.bootstrap([^\s]*)(js|css|less|scss|styl)$ linguist-vendored=false

# popper.js
(^|/)popper([^.]*)\.js$ linguist-vendored=false